.navbar{
  padding: 4px 25px;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);

-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}


@media screen and (min-width: 400px) {
 
  .navbar {
padding: 4px 25px;
   }
}

@media screen and (min-width: 800px) {
  .navbar {
    padding: 8px 25px;
  }
  
}

@media screen and (min-width: 990px) {
  .navbar {
padding: 8px 25px;
  }
  
}

.navbar-brand img{
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
/* .navbar.start-style{
  background-color: transparent; 
}*/
.navbar.scroll-on {
	padding: 4px 25px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar.scroll-on .navbar-brand img{
	height: 40px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}


.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
    margin: 0px 5px;
}

.nav-item{
	padding: 0;
}
.nav-item:hover .nav-link{
	color: #8167a9 !important;
}
.nav-link{
	color: #333  !important;
}
.nav-link.active{
	color: #8167a9  !important;
}
.nav-link {
	position: relative;
	display: inline-block;
}
.nav-link:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-link:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-link.active:hover:after, .contact:hover:after{
	opacity: 0;
}
.nav-link.active:hover{
	color: #8167a9 !important
}
.nav-link{
	position: relative;
    transition: all 200ms linear;
}
.contact{
	border: 1.5px solid black;
	border-radius: 5px;
}
.nav-link.contact:hover {
	color: white  !important; 
}


.carimg {
  height: 70vh;
  object-fit: cover;
}


@media screen and (min-width: 400px) {
 
  .carimg {
    height: 80vh;
  }
}

@media screen and (min-width: 800px) {
  .carimg {
    height: 100vh;
  }
  
}

@media screen and (min-width: 990px) {
  .carimg {
    height: 100vh;
  }
  
}





.btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #2487ce;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #2487ce;
}

.counts {
  padding: 30px 0;
  /*background-color: #2487ce;*/
  margin-bottom: 30px;
}

.counts .count-box {
  width: 100%;
  text-align: center;
}

.counts .count-box span {
  font-size: 48px;
  line-height: 48px;
  display: block;
  font-weight: 700;
  color: #124265;
  margin-left: 80px;
  margin: auto;
}

.counts .count-box p {
  padding: 8px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #1e6ca6;
}




/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
  margin-top: 0;
}

.services .icon-box {
 text-align: center;
 padding: 20px 20px 30px 20px; /* 70px 20px 80px 20px */
 transition: all ease-in-out 0.3s;
 background: #fff;
 box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
  }
  
  .services .icon-box .icon {
 margin: 0 auto;
 width: 70px; 
 height: 70px;  
 display: flex;
 align-items: center;
 justify-content: center;
 transition: ease-in-out 0.3s;
 position: relative;
  }
  
  .services .icon-box .icon i {
 font-size: 40px;
 transition: 0.5s;
 position: relative;
  }
  
  .services .icon-box .icon svg {
 position: absolute;
 top: 30;
 left: 30;
  }
  
  .services .icon-box .icon svg path {
 transition: 0.5s;
 fill: #f5f5f5;
  }
  
  .services .icon-box h4 {
 font-weight: 600;
 margin: 10px 0 15px 0;
 font-size: 22px;
  }
  
  .services .icon-box h4 a {
 color: #124265;
 transition: ease-in-out 0.3s;
  }
  
  .services .icon-box p {
 line-height: 24px;
 font-size: 14px;
 margin-bottom: 0;
  }
  
  .services .icon-box:hover {
 border-color: #fff;
 box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  }
  
  .services .iconbox-blue i {
 color: #47aeff;
  }
  
  .services .iconbox-blue:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-blue:hover .icon path {
 fill: #47aeff;
  }
  
  .services .iconbox-orange i {
 color: #ffa76e;
  }
  
  .services .iconbox-orange:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-orange:hover .icon path {
 fill: #ffa76e;
  }
  
  .services .iconbox-pink i {
 color: #e80368;
  }
  
  .services .iconbox-pink:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-pink:hover .icon path {
 fill: #e80368;
  }
  
  .services .iconbox-yellow i {
 color: #ffbb2c;
  }
  
  .services .iconbox-yellow:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-yellow:hover .icon path {
 fill: #ffbb2c;
  }
  
  .services .iconbox-red i {
 color: #ff5828;
  }
  
  .services .iconbox-red:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-red:hover .icon path {
 fill: #ff5828;
  }
  
  .services .iconbox-teal i {
 color: #11dbcf;
  }
  
  .services .iconbox-teal:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-teal:hover .icon path {
 fill: #11dbcf;
  }
  
  .section-title {
 text-align: center;
 padding-bottom: 30px;
  }

  .section-title h2 {
 font-size: 32px;
 font-weight: bold;
 text-transform: uppercase;
 margin-bottom: 20px;
 padding-bottom: 0;
 color: #124265;
  }
  
  .section-title p {
 margin-bottom: 0;
 font-size: 14px;
 color: #919191;
  }



  body {
    font-family: "Lato", sans-serif;
    background: #f1f1f1;
  }
  
  a:link,
  a:visited {
    color: #444;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
  }
  
  h1 {
    font-size: 20px;
    text-align: center;
    display: block;
    background: linear-gradient(to right top, #6f96f3, #164ed2);
    padding: 20px;
    color: #fff;
    border-radius: 50px;
  }
  
  /* CSS Multiple Whatsapp Chat */
  .whatsapp-name {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0.5;
  }
  
  #whatsapp-chat {
    box-sizing: border-box !important;
    outline: none !important;
    position: fixed;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
    bottom: 90px;
    right: 30px;
    overflow: hidden;
    z-index: 99;
    animation-name: showchat;
    animation-duration: 1s;
    transform: scale(1);
  }
  
  a.blantershow-chat {
    /*   background: #009688; */
    background: #fff;
    color: #404040;
    position: fixed;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    z-index: 98;
    bottom: 25px;
    right: 30px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
  }
  
  a.blantershow-chat svg {
    transform: scale(1.2);
    margin: 0 10px 0 0;
  }
  
  .header-chat {
    /*   background: linear-gradient(to right top, #6f96f3, #164ed2); */
    background: #009688;
    background: #095e54;
    color: #fff;
    padding: 20px;
  }
  
  .header-chat h3 {
    margin: 0 0 10px;
  }
  
  .header-chat p {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
  }
  
  .info-avatar {
    position: relative;
  }
  
  .info-avatar img {
    border-radius: 100%;
    width: 50px;
    float: left;
    margin: 0 10px 0 0;
  }
  
  a.informasi {
    padding: 20px;
    display: block;
    overflow: hidden;
    animation-name: showhide;
    animation-duration: 0.5s;
  }
  
  a.informasi:hover {
    background: #f1f1f1;
  }
  
  .info-chat span {
    display: block;
  }
  
  #get-label,
  span.chat-label {
    font-size: 12px;
    color: #888;
  }
  
  #get-nama,
  span.chat-nama {
    margin: 5px 0 0;
    font-size: 15px;
    font-weight: 700;
    color: #222;
  }
  
  #get-label,
  #get-nama {
    color: #fff;
  }
  
  span.my-number {
    display: none;
  }
  
  .blanter-msg {
    color: #444;
    font-size: 12.5px;
    text-align: center;
    border-top: 1px solid #ddd;
  } 
  textarea#chat-input {
    border: none;
    font-family: "Arial", sans-serif;
    width: 100%;
    height: 40px;
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 14px;
  }
  
  a#send-it {
    width: 30px;
    font-weight: 700;
    padding: 10px 10px 0;
    background: #eee;
  }
  a#send-it svg {
    fill: #a6a6a6;
    height: 20px;
    width: 20px;
  }
  
  .first-msg {
    background: transparent;
    padding: 30px;
    text-align: center;
  }
  .first-msg span {
    background: #e2e2e2;
    color: #333;
    font-size: 14.2px;
    line-height: 1.7;
    border-radius: 10px;
    padding: 15px 20px;
    display: inline-block;
  }
  
  .start-chat .blanter-msg {
    display: flex;
  }
  
  #get-number {
    display: none;
  }
  
  a.close-chat {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #fff;
    font-size: 30px;
  }
  
  @keyframes ZpjSY {
    0% {
      background-color: #b6b5ba;
    }
    15% {
      background-color: #111111;
    }
    25% {
      background-color: #b6b5ba;
    }
  }
  @keyframes hPhMsj {
    15% {
      background-color: #b6b5ba;
    }
    25% {
      background-color: #111111;
    }
    35% {
      background-color: #b6b5ba;
    }
  }
  @keyframes iUMejp {
    25% {
      background-color: #b6b5ba;
    }
    35% {
      background-color: #111111;
    }
    45% {
      background-color: #b6b5ba;
    }
  }
  @keyframes showhide {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
  }
  @keyframes showchat {
    from {
      transform: scale(0);
      opacity: 0;
    }
  }
  @media screen and (max-width: 480px) {
    #whatsapp-chat {
      width: auto;
      left: 5%;
      right: 5%;
      font-size: 80%;
    }
  }
  .hide {
    display: none;
    animation-name: showhide;
    animation-duration: 0.5s;
    transform: scale(1);
    opacity: 1;
  }
  
  .show {
    display: block;
    animation-name: showhide;
    animation-duration: 0.5s;
    transform: scale(1);
    opacity: 1;
  }
  
  .whatsapp-message-container {
    display: flex;
    z-index: 1;
  }
  
  .whatsapp-message {
    padding: 7px 14px 6px;
    background-color: white;
    border-radius: 0px 8px 8px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform-origin: center top 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: -54px;
    max-width: calc(100% - 66px);
  }
  
  .whatsapp-chat-body {
    padding: 20px 20px 20px 10px;
    background-color: #e6ddd4;
    position: relative;
  }
  .whatsapp-chat-body::before {
    display: block;
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.08;
    background-image: url("https://elfsight.com/assets/chats/patterns/whatsapp.png");
  }
  
  .dAbFpq {
    display: flex;
    z-index: 1;
  }
  
  .eJJEeC {
    background-color: white;
    width: 52.5px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    margin-left: 10px;
    opacity: 0;
    transition: all 0.1s ease 0s;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
  }
  
  .hFENyl {
    position: relative;
    display: flex;
  }
  
  .ixsrax {
    height: 5px;
    width: 5px;
    margin: 0px 2px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0px;
    background-color: #9e9da2;
    animation-name: ZpjSY;
  }
  
  .dRvxoz {
    height: 5px;
    width: 5px;
    margin: 0px 2px;
    background-color: #b6b5ba;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0px;
    animation-name: hPhMsj;
  }
  
  .kAZgZq {
    padding: 7px 14px 6px;
    background-color: white;
    border-radius: 0px 8px 8px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform-origin: center top 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: -54px;
    max-width: calc(100% - 66px);
  }
  .kAZgZq::before {
    position: absolute;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    top: 0px;
    left: -12px;
    width: 12px;
    height: 19px;
  }
  
  .bMIBDo {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
  }
  
  .iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: #111111;
  }
  
  .iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: #111111;
  }
  
  .cqCDVm {
    text-align: right;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(17, 17, 17, 0.5);
    margin-right: -8px;
    margin-bottom: -4px;
  }
  /*--------------------------------------------------------------
# About Video
--------------------------------------------------------------*/


.about-video .content {
  font-size: 15px;
}

.about-video .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #124265;
}

.about-video .content ul {
  list-style: none;
  padding: 0;
}

.about-video .content ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.about-video .content ul i {
  font-size: 24px;
  color: #2487ce;
  position: absolute;
  left: 0;
  top: -2px;
}

.about-video .content p:last-child {
  margin-bottom: 0;
}

.about-video .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#2487ce 50%, rgba(36, 135, 206, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about-video .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about-video .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(36, 135, 206, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about-video .play-btn:hover::after {
  border-left: 15px solid #2487ce;
  transform: scale(20);
}

.about-video .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}


#soc a{
  text-decoration: none;
 /* border: 2px solid white;
  border-radius: 50%;
  padding-left: 5px;
  padding-bottom: 5px;*/
}


.clients {
  align-items: center;
  padding: 15px 0;
}

.clients img {
  max-width: 50%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}