.navbar{
padding: 8px 25px;
box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);

-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.navbar-brand img{
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
/* .navbar.start-style{
  background-color: transparent; 
}*/
.navbar.scroll-on {
	padding: 4px 25px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar.scroll-on .navbar-brand img{
	height: 40px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}


.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
    margin: 0px 5px;
}

.nav-item{
	padding: 0;
}
.nav-item:hover .nav-link{
	color: #8167a9 !important;
}
.nav-link{
	color: #333  !important;
}
.nav-link.active{
	color: #8167a9  !important;
}
.nav-link {
	position: relative;
	display: inline-block;
}
.nav-link:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-link:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-link.active:hover:after, .contact:hover:after{
	opacity: 0;
}
.nav-link.active:hover{
	color: #8167a9 !important
}
.nav-link{
	position: relative;
    transition: all 200ms linear;
}
.contact{
	border: 1.5px solid black;
	border-radius: 5px;
}
.nav-link.contact:hover {
	color: white  !important; 
}


.carimg {
  height: 100vh;
  object-fit: cover;
}

/*
@media screen and (min-width: 400px) {
 
  .carimg {
    height: 100vh;
  }
  body {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 800px) {
  .carimg {
    height: 100vh;
  }
  body {
    background-color: lavender;
  }
}

@media screen and (min-width: 990px) {
  .carimg {
    height: 100vh;
  }
  body {
    background-color: red;
  }
}*/





.btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #2487ce;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #2487ce;
}

.counts {
  padding: 30px 0;
  /*background-color: #2487ce;*/
  margin-bottom: 30px;
}

.counts .count-box {
  width: 100%;
  text-align: center;
}

.counts .count-box span {
  font-size: 48px;
  line-height: 48px;
  display: block;
  font-weight: 700;
  color: #124265;
  margin-left: 80px;
  margin: auto;
}

.counts .count-box p {
  padding: 8px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #1e6ca6;
}




/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
  margin-top: 0;
}

.services .icon-box {
 text-align: center;
 padding: 70px 20px 80px 20px;
 transition: all ease-in-out 0.3s;
 background: #fff;
 box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
  }
  
  .services .icon-box .icon {
 margin: 0 auto;
 width: 100px;
 height: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: ease-in-out 0.3s;
 position: relative;
  }
  
  .services .icon-box .icon i {
 font-size: 40px;
 transition: 0.5s;
 position: relative;
  }
  
  .services .icon-box .icon svg {
 position: absolute;
 top: 0;
 left: 0;
  }
  
  .services .icon-box .icon svg path {
 transition: 0.5s;
 fill: #f5f5f5;
  }
  
  .services .icon-box h4 {
 font-weight: 600;
 margin: 10px 0 15px 0;
 font-size: 22px;
  }
  
  .services .icon-box h4 a {
 color: #124265;
 transition: ease-in-out 0.3s;
  }
  
  .services .icon-box p {
 line-height: 24px;
 font-size: 14px;
 margin-bottom: 0;
  }
  
  .services .icon-box:hover {
 border-color: #fff;
 box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  }
  
  .services .iconbox-blue i {
 color: #47aeff;
  }
  
  .services .iconbox-blue:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-blue:hover .icon path {
 fill: #47aeff;
  }
  
  .services .iconbox-orange i {
 color: #ffa76e;
  }
  
  .services .iconbox-orange:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-orange:hover .icon path {
 fill: #ffa76e;
  }
  
  .services .iconbox-pink i {
 color: #e80368;
  }
  
  .services .iconbox-pink:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-pink:hover .icon path {
 fill: #e80368;
  }
  
  .services .iconbox-yellow i {
 color: #ffbb2c;
  }
  
  .services .iconbox-yellow:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-yellow:hover .icon path {
 fill: #ffbb2c;
  }
  
  .services .iconbox-red i {
 color: #ff5828;
  }
  
  .services .iconbox-red:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-red:hover .icon path {
 fill: #ff5828;
  }
  
  .services .iconbox-teal i {
 color: #11dbcf;
  }
  
  .services .iconbox-teal:hover .icon i {
 color: #fff;
  }
  
  .services .iconbox-teal:hover .icon path {
 fill: #11dbcf;
  }
  
  .section-title {
 text-align: center;
 padding-bottom: 30px;
  }

  .section-title h2 {
 font-size: 32px;
 font-weight: bold;
 text-transform: uppercase;
 margin-bottom: 20px;
 padding-bottom: 0;
 color: #124265;
  }
  
  .section-title p {
 margin-bottom: 0;
 font-size: 14px;
 color: #919191;
  }




  /*--------------------------------------------------------------
# About Video
--------------------------------------------------------------*/


.about-video .content {
  font-size: 15px;
}

.about-video .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #124265;
}

.about-video .content ul {
  list-style: none;
  padding: 0;
}

.about-video .content ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.about-video .content ul i {
  font-size: 24px;
  color: #2487ce;
  position: absolute;
  left: 0;
  top: -2px;
}

.about-video .content p:last-child {
  margin-bottom: 0;
}

.about-video .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#2487ce 50%, rgba(36, 135, 206, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about-video .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about-video .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(36, 135, 206, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about-video .play-btn:hover::after {
  border-left: 15px solid #2487ce;
  transform: scale(20);
}

.about-video .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}